* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple100: hsl(254, 88%, 90%);
  --purple500: hsl(256, 67%, 59%);
  --yellow100: hsl(31, 66%, 93%);
  --yellow500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  background-color: #f2f2f2;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 1;
  display: grid;
  place-content: center;
}

.xlgText {
  font-size: 4rem;
  font-weight: 500;
}
.lgText {
  font-size: 2.75rem;
  font-weight: 500;
}
.medText {
  font-size: 2.35rem;
  font-weight: 500;
}
.smText {
  font-size: 1.5rem;
  font-weight: 400;
}

img {
  max-width: 100%;
  display: block;
}
