* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple100: hsl(254, 88%, 90%);
  --purple500: hsl(256, 67%, 59%);
  --yellow100: hsl(31, 66%, 93%);
  --yellow500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  background-color: #f2f2f2;
  height: 100vh;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  display: grid;
  place-content: center;
}

.attribution {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  color: #000000c2;
}
a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

.xlgText {
  font-size: 4.5rem;
  font-weight: 500;
}
.lgText {
  font-size: 2.75rem;
  font-weight: 500;
}
.medText {
  font-size: 2.35rem;
  font-weight: 500;
}
.smText {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}

img {
  max-width: 100%;
  display: block;
}
